@model MMS.Models.Actividad

@{
    ViewBag.Title = "Eliminar Actividad";
}
@*jQuery validate*@
<script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js" type="text/javascript"></script>
<script src="~/Scripts/Validate/jquery.validate.js" type="text/javascript"></script>

@*jQuery number*@
<script src="~/Scripts/jquery.number/jquery.number.js" type="text/javascript"></script>
<script src="~/Scripts/Transacciones/Actividades.js" type="text/javascript"></script>

@*DropZone*@
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone/dropzone.js"></script>

<script type="text/javascript">
    var Clientes = @Html.Raw(Json.Encode(@ViewBag.ClienteID));
    var TipoMov = @Html.Raw(Json.Encode(@ViewBag.TipoMovConfig));
    var ActividadItems = @Html.Raw(Json.Encode(@ViewBag.ActividadItems));
    var ActividadAut = @Html.Raw(Json.Encode(@ViewBag.ActividadAut));
    var TrnMode = 3;

    $(document).ready(function () {
        if($('#Marcas').val() != "")
        {
            var marcas = $('#Marcas').val().split(",");
            var todas = "";

            marcas.forEach(function (element) {
                var ids = element.replace("'", "");

                $.get("/api/ActividadesApi/MarcaDescripcion/" + ids, function (result) {

                    if (result) {
                        todas =  todas.concat(result, ", ");
                        var str1 = todas.slice(0, -2) + '';
                        $('#_Marcas').val(str1);
                    }
                });
            });
        }
    });
</script>




<div class="row">
    <div class="col s12">
        <div class="card">

            <nav>
                <div class="nav-wrapper" style="background-color:#c62828;">
                    <div class="col s12" style="margin-left: 25px;">
                        <a href="~/Actividades/index" class="breadcrumb">Actividades</a>
                        <a class="breadcrumb">Eliminar</a>
                    </div>
                </div>
            </nav>

            <div class="row">
                <!-- <div class="col s12">
        <ul class="red-text tabs">
            <li class="tab col s3"><a class="red-text active" href="#Contenido1">Información Basica</a></li>
            <li class="tab col s3"><a class="red-text" onclick="GetpptoVendedor()" href="#Complementario">Información complementaria</a></li>
        </ul>
    </div>-->


                <div id="Contenido1" class="card-content">
                    <span id="Error" class="red-text text-darken-2">@ViewBag.Error</span>
                    <div class="row" style="margin-top: 35px;">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s2 ">
                                    @Html.LabelFor(model => model.ActividadId, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.ActividadId, new { @class = "Validate ", @readonly = "readonly" })
                                </div>
                                <div class="input-field col s2 ">
                                    @Html.LabelFor(model => model.ActividadFecha, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.ActividadFecha, new { @class = "Validate ", @readonly = "readonly", Value = Model.ActividadFecha.ToString("u").Substring(0, 10) })
                                </div>
                                <div class="input-field col s2 right">
                                    @Html.LabelFor(model => model.ActividadFechaHasta, new { @class = "control-label col-md-2" })
                                    @Html.TextBoxFor(model => model.ActividadFechaHasta, new { @class = "Validate datepicker", Value = Model.ActividadFechaHasta.ToString("u").Substring(0, 10), @readonly = "readonly" })
                                </div>
                                <div class="input-field col s2 right">
                                    @Html.LabelFor(model => model.ActividadFechaDesde, new { @class = "control-label col-md-2" })
                                    @Html.TextBoxFor(model => model.ActividadFechaDesde, new { @class = "Validate datepicker", Value = Model.ActividadFechaDesde.ToString("u").Substring(0, 10), @readonly = "readonly" })
                                </div>
                                <div class="input-field col s2 ">
                                    @Html.LabelFor(model => model.UsuarioIdElabora, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.TextBoxFor(model => model.UsuarioIdElabora, new { @class = "Validate", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4 ">
                                    @Html.LabelFor(model => model.ActividadTitulo, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.ActividadTitulo, new { @class = "Validate", @readonly = "readonly" })
                                </div>
                                <div class="input-field col s2 Left ">
                                    @Html.LabelFor(model => model.ClienteID, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.ClienteID, new { @class = "Validate", @readonly = "readonly" })

                                </div>
                                <div class="input-field col s4 ">
                                    <label for="ClienteNombre">Nombre</label>
                                    <input class="texttip form-control input-sm" id="ClienteNombre" name="" placeholder="ClienteNombre" readonly="readonly" type="text" />
                                </div>
                                <div class="input-field col s2 ">
                                    <label for="Ciudad">Ciudad</label>
                                    <input class="texttip form-control input-sm" id="CiudadID" name="CiudadID" placeholder="Ciudad" readonly="readonly" type="text" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4 Left">
                                    @Html.DropDownList("TipoActividadID", null, new { @disabled = "disabled" })
                                    @Html.LabelFor(model => model.TipoActividadID)
                                    <input id="TipoActividadError" name="TipoActividadError" readonly="readonly" style="display: none;" type="text">
                                </div>
                                <div class="input-field col s4 Left ">
                                    @Html.LabelFor(model => model.ActividadMetaV, htmlAttributes: new { @class = "" })
                                    @Html.TextBoxFor(model => model.ActividadMetaV, new { @class = "Validate ", @readonly = "readonly" })
                                </div>
                                <div class="input-field col s4 Left">
                                    @Html.LabelFor(model => model.ActividadMetaE, new { @class = "control-label col-md-2" })
                                    @Html.TextBoxFor(model => model.ActividadMetaE, new { @class = "Validate ", @readonly = "readonly" })
                                </div>
                                <div class="hide">
                                    @Html.LabelFor(model => model.GastoId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.GastoId, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4 Left">
                                    @Html.DropDownList("CanalID", null, new { @disabled = "disabled" })
                                    @Html.LabelFor(model => model.CanalID)
                                </div>
                                <div class="input-field col s4 Left">
                                    <label for="Marcas">Marcas</label>
                                    <input class="texttip form-control input-sm" id="_Marcas" name="" placeholder="Marcas" readonly="readonly" type="text" />
                                </div>
                                <div class="hide">
                                    @Html.TextBoxFor(model => model.Marcas, new { @class = "Validate ", @readonly = "readonly" })
                                </div>
                                <div class="input-field col s4 Left">
                                    @Html.Label("Vigencia")
                                    <input class="form-control" type="text" id="Vigencia" name="Vigencia" value="Vigencia" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.TextAreaFor(model => model.ActividadLugarEnvioPOP, new { @class = "materialize-textarea", @readonly = "readonly" })
                                    @Html.LabelFor(model => model.ActividadLugarEnvioPOP, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                                <div class="input-field col s6">
                                    @Html.TextAreaFor(model => model.ActividadObjetivo, new { @class = "materialize-textarea", @readonly = "readonly" })
                                    @Html.LabelFor(model => model.ActividadObjetivo, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    @Html.TextAreaFor(model => model.ActividadDesc, new { @class = "materialize-textarea", @readonly = "readonly" })
                                    @Html.LabelFor(model => model.ActividadDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Complementario" class="col s12">
                    <div id="Contenido1" class="card-content">
                        <div class="row" style="margin-top: 35px;">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s3 ">
                                        <label for="Vendedor_name">Vendedor</label>
                                        <input class="texttip form-control input-sm" id="Vendedor_name" name="Vendedor_name" placeholder="Nombre Vendedor" readonly="readonly" type="text" />
                                    </div>
                                    <table id="TablaPresupuestos" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Centro de Costo
                                                </th>
                                                <th>
                                                    Presupuesto Q
                                                </th>
                                                <th>
                                                    Presupuesto Ejecutado
                                                </th>
                                                <th>
                                                    Presupuesto Disponible
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 35px;">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s3 ">
                                        <label for="Cliente_name">Cliente</label>
                                        <input class="texttip form-control input-sm" id="Cliente_name" name="Cliente_name" placeholder="Nombre Cliente" readonly="readonly" type="text" />
                                    </div>
                                    <div class="input-field col s3 ">
                                        <label for="VentaP1" id="LabelVentaP1">Venta Mes Anterior</label>
                                        <input class="texttip form-control input-sm" id="VentaP1" name="VentaP1" placeholder="Venta" readonly="readonly" type="text" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 ">
        <div class="card">
            <div class="card-content">
                <table id="TablaItems" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="hide">
                                Línea
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Descricpión
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Centro Costo
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
            <div class="card-action">

                <div class="row left-align valign">
                    <div class="col s8">
                        <div class="hide">
                            @Html.TextBoxFor(model => model.ActividadUltimoItem, new { Value = "0" })
                        </div>
                    </div>
                    <div class="col s2">
                        <div class="right-align black-text valign" style="margin-left: 20px;margin-top: 15px;" valign="middle">
                            Total Mercadeo: $<br>
                            Total Ventas: $<br>
                            Total Otros: $<br>
                            Total: $
                        </div>
                    </div>
                    <div class="col s2">
                        <div class="right-align black-text valign" style="margin-left: 20px;margin-top: 15px;" valign="middle">
                            <h8 id="GrandTTLMarketField"> 0</h8><br>
                            <h8 id="GrandTTLSaleField"> 0</h8><br>
                            <h8 id="GrandTTLOtherField"> 0</h8><br>
                            <h8 id="GrandTTLField"> 0</h8>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col s8 ">
            <div class="card">
                <div class="card-content">

                    <table id="TablaAnexos" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="hide">
                                    Línea
                                </th>
                                <th>
                                    Archivo
                                </th>
                                <th>
                                    Fecha
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 80px;">
                                    <button style="transform: scaleY(0.6) scaleX(0.6)" id="BtnEliminarItemActividad" type="button" class="btn-floating btn-large waves-effect waves-light red" aria-hidden="true" onclick='DeleteRowActividades(this);'><i class="material-icons">delete</i></button>
                                </td>
                                <td class="hide">
                                    <input class="texttip form-control input-sm" id="ActividadAnexosId0" name="ActividadAnexosId0" placeholder="Id" type="text" value="1" readonly="readonly" />
                                </td>

                                <td class="input-field col s8">

                                    <i class="material-icons prefix">attach_file</i>
                                    <input class="texttip form-control input-sm" id="ActividadAnexosDesc0" name="ActividadAnexosDesc0" placeholder="Nombre del archivo" readonly="readonly" type="text" />
                                </td>
                                <td>
                                    <input class="texttip form-control input-sm" id="ActividadAnexosFecha0" name="ActividadAnexosFecha0" placeholder="DD/MM/AAAA" readonly="readonly" type="text" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-action">

                    <div class="row left-align valign">
                        <div class="col s10">
                            <div class="hide">
                                @Html.TextBoxFor(model => model.ActividadKeyFiles, new { Value = "0" })
                            </div>
                            <button type="button" id="tablaanexosdrop"
                                    class="btn-floating btn-large waves-effect waves-light green"
                                    aria-hidden="true">
                                <i class="material-icons">add</i>
                            </button>
                            <span class="black-text" style="margin-left: 20px;">
                                Cargar Archivos. (Puedes Arrastrar tus archivos aqui)
                            </span>
                            <button id="enviardrop">Sube Cesamo</button>
                        </div>

                        <div id="previews" class="dropzone needsclick dz-clickable"></div>

                    </div>
                </div>

            </div>


        </div>
    </div>*@
<div class="row">
    <div class="col s8 ">
        <div class="card">
            <div class="card-content">

                <table id="TablaAutorizadores" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="input-field col s12">
                                Usuario autorizador
                            </th>
                            <th>
                                Fecha Autorización
                            </th>
                            <th>
                                Autoriza?
                            </th>
                            <th>
                                Motivo
                            </th>
                        </tr>
                    </thead>


                    <tbody></tbody>




                </table>
            </div>
        </div>
    </div>
</div>






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="toc-wrapper pin-top">
        <div class="col s12 ">
            <div class="card">
                <div class="card-content">

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Eliminar" class="btn waves-effect red" />
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn waves-effect grey" })
                            @*@Html.ActionLink("Eliminar", "Index", null, new { @class = "btn waves-effect red" })*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

