@model MMS.Models.PlantillaViewModel

@{
    ViewBag.Title = "Templates";
    ViewBag.Subtitle = "View";
    Layout = "~/Views/Shared/_LayoutTT.cshtml";
}

@section Scripts
{
    @Scripts.Render("~/bundles/jsVue")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#cardForm input[type=text]").prop("readonly", true);
            $("#cardForm input[type=checkbox]").prop("disabled", true);

            var vueItemsTable = new Vue({
                el: "#tableItems",
                data: {
                    items: [
                        @foreach (var plantillaItem in Model.PlantillaItems)
                        {<text>
                        {
                            Id: @plantillaItem.Item.Id,
                            Marca: '@plantillaItem.Item.Marca.Nombre',
                            Codigo: '@plantillaItem.Item.Codigo',
                            Categoria: '@plantillaItem.Item.Categoria',
                            Grupo: '@plantillaItem.Item.Grupo',
                            Descripcion: '@plantillaItem.Item.Descripcion',
                            PrecioSugerido: @plantillaItem.Item.PrecioSugerido.ToString().Replace(',', '.'),
                        },
                        </text>}
                    ]
                }
            });
        });
    </script>
}

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card" id="cardForm">
            <div class="header bg-blue">
                <h2>
                    @ViewBag.Title <small>@ViewBag.Subtitle</small>
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.EditorFor(model => model.Plantilla.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.Plantilla.Nombre, htmlAttributes: new { @class = "form-label" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Plantilla.Activa)
                        @Html.LabelFor(model => model.Plantilla.Activa, htmlAttributes: new { @class = "fix-checkbox" })
                    </div>

                    <div class="col-md-12">
                        <table class="table table-condensed table-hover table-striped table-va-middle" id="tableItems">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.PlantillaItems[0].Item.Marca)</th>
                                    <th>@Html.DisplayNameFor(model => model.PlantillaItems[0].Item.Codigo)</th>
                                    <th>@Html.DisplayNameFor(model => model.PlantillaItems[0].Item.Categoria)</th>
                                    <th>@Html.DisplayNameFor(model => model.PlantillaItems[0].Item.Grupo)</th>
                                    <th>@Html.DisplayNameFor(model => model.PlantillaItems[0].Item.Descripcion)</th>
                                    <th style="text-align: right;">@Html.DisplayNameFor(model => model.PlantillaItems[0].Item.PrecioSugerido)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-if="items.length == 0">
                                    <tr class="align-center">
                                        <td colspan="7"><em>This template has no Items.</em></td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr v-for="(item, index) in items">
                                        <td>{{ item.Marca }}</td>
                                        <td>
                                            <input type="hidden" v-bind:name="'PlantillaItems[' + index + '].ItemId'" v-bind:value="item.Id" />
                                            <span class="codigo-item">{{ item.Codigo }}</span>
                                        </td>
                                        <td>{{ item.Categoria }}</td>
                                        <td>{{ item.Grupo }}</td>
                                        <td>{{ item.Descripcion }}</td>
                                        <td style="text-align: right;">$ {{ item.PrecioSugerido.formatMoney(0) }}</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr class="m-b-0 m-t--20" />
            <div class="body">
                @Html.ActionLink("Modify", "Edit", new { id = Model.Plantilla.Id }, new { @class = "btn btn-success waves-effect " + ViewData[$"has_{ViewContext.RouteData.Values["controller"].ToString()}Edit"] })
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default waves-effect", @onclick = "redirToReturnSearch(this, event)" })
            </div>
        </div>
    </div>
</div>
