@model MMS.Models.MotivoPQRS
@{
    ViewBag.Title = "Reason PQRS";
    ViewBag.Subtitle = "Create";
    Layout = "~/Views/Shared/_LayoutTT.cshtml";
}

@section Styles
{
    @Styles.Render("~/bundles/cssSelect2")

}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsSelect2")
    <script src="~/Scripts/WCSS/MotivosPQRS.js"></script>

    <script type="text/javascript">
        $(function () {

            $.MMS.MotivosPQRS("create");

        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card" id="cardForm">
                <div class="header bg-blue">
                    <h2>
                        @ViewBag.Title <small>@ViewBag.Subtitle</small>
                    </h2>
                </div>
                <div class="body">
                    @Html.ValidationSummary(false, "", new { @class = "hide" })

                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    @Html.EnumDropDownListFor(model => model.TipoPQRS, "-- Please Select Type PQRS--", new { @class = "ms full-width", @style = "width: 100%" })
                                    @Html.ValidationMessageFor(model => model.TipoPQRS, "", new { @class = "" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "form-label" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label for="MotivoPQRSCopy" class="form-select-label">Copy flow of:</label>
                                    <select id="MotivoPQRSCopy" name="MotivoPQRSCopy" class="ms full-width" style="width: 100%"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-b-0 m-t--20" />
                <div class="body">
                    <input type="submit" value="Save" class="btn btn-primary waves-effect" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default waves-effect", @onclick = "redirToReturnSearch(this, event)" })
                </div>
            </div>
        </div>
    </div>
}