@model MMS.Models.FlujoPQRS

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}


@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/WCSS/FlujosPQRSStep.js"></script>

<script type="text/javascript">
    $.MMS.FlujosPQRSStep.init = function () {
        $.MMS.FlujosPQRSStep("edit", 0,0);
    };
</script>

@using (Html.BeginForm("EditStep", "api/" + controllerName, FormMethod.Post, new { id = "formStep" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close btn-link" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Step Reason Type : <em>@ViewBag.MotivoNombre</em></h4>
    </div>

    <div class="modal-body">
        <div class="row clearfix">
            @Html.HiddenFor(model => model.MotivoPQRSId)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Order)
            


            <div class="col-md-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "form-label" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoPaso, htmlAttributes: new { @class = "form-select-label" })
                    @Html.EnumDropDownListFor(model => model.TipoPaso, new { @class = "ms full-width" })
                    @*<select id="TipoPaso" style="width:100%;" >
                        <option value="1">General</option>
                        <option value="2">Llenar formato</option>
                        <option value="3">Aprobar</option>
                    </select>*@
                    @Html.ValidationMessageFor(model => model.TipoPaso, "", new { @class = "" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.EnviaCorreoDestinatarios, htmlAttributes: new { @class = "form-select-label" })
                    @Html.EditorFor(model => model.EnviaCorreoDestinatarios, new { htmlAttributes = new { @class = "ms full-width" } })
                    @Html.ValidationMessageFor(model => model.EnviaCorreoDestinatarios, "", new { @class = "" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @rows = "4" })
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "form-label" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "" })
                </div>
            </div>
        </div>
    </div>

    <hr class="m-b-0 m-t--10" />

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect">Save</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
    </div>
}


