@model IEnumerable<MMS.Models.Novedad>

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = "News";
    ViewBag.Subtitle = "List";
    Layout = "~/Views/Shared/_LayoutTT.cshtml";
}


@section Styles
{
    @Styles.Render("~/bundles/cssDataTables")
    @Styles.Render("~/bundles/cssSelect2")
}

@section Scripts
{
    @Scripts.Render("~/bundles/jsDataTables")
    @Scripts.Render("~/bundles/jsSelect2")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();



            $("#selectBuscarCliente").select2({
                placeholder: "Search @Html.DisplayNameFor(model => model.ClienteId)",
                allowClear: true,
                theme: "bootstrap",
                ajax: {
                    url: function (params) {
                        return '/api/Devoluciones/BuscarCliente?q=' + encodeURIComponent(params.term);
                    },
                    delay: 300,
                    type: 'GET',
                    minimumInputLength: 1,
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.ClienteID + " - " + item.ClienteRazonSocial,
                                    id: item.ClienteID
                                }
                            })
                        };
                    }
                }
            })

            $("#selectBuscarAnalista").select2({
                placeholder: "Search @Html.DisplayNameFor(model => model.AnalistaId)",
                allowClear: true,
                theme: "bootstrap",
                ajax: {
                    url: function (params) {
                        return '/api/Usuarios/BuscarAnalista?q=' + encodeURIComponent(params.term);
                    },
                    delay: 300,
                    type: 'GET',
                    minimumInputLength: 1,
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.ClienteRazonSocial,
                                    id: item.ClienteID
                                }
                            })
                        };
                    }
                }
            })


            $("#selectBuscarEstado").select2({
                placeholder: "Search @Html.DisplayNameFor(model => model.Estado)",
                allowClear: true,
                theme: "bootstrap"
            })

            $("#selectBuscarPrioridad").select2({
                placeholder: "Search @Html.DisplayNameFor(model => model.Prioridad)",
                allowClear: true,
                theme: "bootstrap"
            })


            dt = dataTablesIndex("tableDT", "/api/@controllerName/Index", "/@controllerName/Index",
                [
                    { data: "NroTracking" },
                    { data: "Id" },
                    {
                        data: "Asunto",
                        render: function (data, type, row) {
                            if (row.Asunto.length > 20) {
                                return row.Asunto.substring(0, 20);
                            } else {
                                return row.Asunto;
                            }
                        }
                    },
                    {
                        data: "Persona",
                        render: function (data, type, row) {
                            if (row.Persona != null) {
                                if (row.Persona.length > 20) {
                                    return row.Persona.substring(0, 20);
                                } else {
                                    return row.Persona;
                                }
                            } else {
                                return row.Persona;
                            }

                        }
                    },
                    {
                        data: "Cliente",
                        render: function (data, type, row) {
                            if (row.Cliente.length > 20) {
                                return row.Cliente.substring(0, 20);
                            } else {
                                return row.Cliente;
                            }
                        }
                    },
                    {
                        data: "Prioridad",
                        render: function (data, type, row) {
                            if (row.Prioridad.toLowerCase() == ("Baja").toLowerCase()) {
                                return "<img src='/Content/Images/prioridad_baja.png' style='width: 34px !important;height: 34px !important;' class='img-responsive' data-toggle='tooltip' data-placement='top' title='Low' />";
                            } else if (row.Prioridad.toLowerCase() == ("Media").toLowerCase()) {
                                return "<img src='/Content/Images/prioridad_media.png' style='width: 34px !important;height: 34px !important;' class='img-responsive' data-toggle='tooltip' data-placement='top' title='Medium' />";
                            } else if (row.Prioridad.toLowerCase() == ("Alta").toLowerCase()) {
                                return "<img src='/Content/Images/prioridad_alta.png' style='width: 34px !important;height: 34px !important;' class='img-responsive' data-toggle='tooltip' data-placement='top' title='High' />";
                            } else if (row.Prioridad.toLowerCase() == ("Sin prioridad").toLowerCase()) {
                                return "<img src='/Content/Images/sin_prioridad.png' style='width: 34px !important;height: 34px !important;' class='img-responsive' data-toggle='tooltip' data-placement='top' title='No priority' />";
                            }


                        }
                    },
                    {
                        data: "Analista",
                        render: function (data, type, row) {
                            if (row.Analista != null) {
                                if (row.Analista.length > 20) {
                                    return row.Analista.substring(0, 20);
                                } else {
                                    return row.Analista;
                                }
                            } else {
                                return row.Analista;
                            }

                        }
                    },
                    { data: "FechaCreacion" },
                    { data: "Estado" },
                    {
                        data: null,
                        render: function (data, type, row) {

                            var result = `<a href='/@controllerName/Details/${row.Id}' onclick="redirtWithReturnSearch(this, event)" class='btn-table btn-info btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Details"]' data-toggle="tooltip" data-placement="top" title="View"><i class='material-icons'>remove_red_eye</i></a>`;


                            if (row.Estado == "Open" || row.Estado == "In Process") {
                                result += `<a href='/@controllerName/Edit/${row.Id}' onclick="redirtWithReturnSearch(this, event)" class='btn-table btn-primary btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Edit"]' data-toggle="tooltip" data-placement="top" title="Modify"><i class='material-icons'>mode_edit</i></a>`;
                            }

                            if (row.Estado == 'Open') {
                                result += `<a href='/@controllerName/Delete/${row.Id}' onclick="redirtWithReturnSearch(this, event)" class='btn-table bg-red btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Delete"]' data-toggle="tooltip" data-placement="top" title="Delete"><i class='material-icons'>delete</i></a>`;
                                result += `<a href='javascript:void(0)' onclick="SendSC('/Api/PQRS/CreaPQRSRecord?TipoPQRS=3&id=${row.Id}')" class='btn-table bg-grey btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_PQRSCreaPQRSRecord"]' data-toggle="tooltip" data-placement="top" title="Send to CS"><i class='material-icons'>send</i></a>`;
                            }
                            @*else {
                                result += `<a href='/@controllerName/Delete/${row.Id}' onclick="redirtWithReturnSearch(this, event)" class='btn-table bg-grey btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Delete"]' data-toggle="tooltip" data-placement="top" title="Back"><i class='material-icons'>arrow_back</i></a>`;
                            }

                            result += `<a href='/@controllerName/Delete/${row.Id}' onclick="redirtWithReturnSearch(this, event)" class='btn-table bg-green btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Delete"]' data-toggle="tooltip" data-placement="top" title="Send"><i class='material-icons'>arrow_forward</i></a>`;*@

                            return result;

                            @*return (
                                `<a href='/@controllerName/Details/${row.Id}' onclick="redirtWithReturnSearch(this, event)" class='btn-table btn-info btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Details"]' data-toggle="tooltip" data-placement="top" title="View"><i class='material-icons'>remove_red_eye</i></a>` +
                                `<a href='/@controllerName/Edit/${row.Id}}' onclick="redirtWithReturnSearch(this, event)" class='btn-table btn-primary btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Edit"]' data-toggle="tooltip" data-placement="top" title="Modify"><i class='material-icons'>mode_edit</i></a>` +

                                `<a href='/@controllerName/Delete/${row.Id}}' onclick="redirtWithReturnSearch(this, event)" class='btn-table bg-red btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Delete"]' data-toggle="tooltip" data-placement="top" title="Delete"><i class='material-icons'>delete</i></a>`

                            );*@
                        }
                    }
                ],
                {
                    mainFilter: false,
                    filterControls: ["txtBuscarId", "txtBuscarAsunto", "txtBuscarPersona", "selectBuscarCliente", "selectBuscarPrioridad", "selectBuscarAnalista", "txtBuscarFechaCreacion", "selectBuscarEstado", "txtBuscarNroTracking"],
                    fnServerParams: function () {
                        return [
                            { name: "_id", value: $('#txtBuscarId').val() },
                            { name: "_asunto", value: $('#txtBuscarAsunto').val() },
                            { name: "_persona", value: $('#txtBuscarPersona').val() },
                            { name: "_cliente", value: $('#selectBuscarCliente').val() },
                            { name: "_prioridad", value: $('#selectBuscarPrioridad').val() },
                            { name: "_analista", value: $('#selectBuscarAnalista').val() },
                            { name: "_fechacreacion", value: $('#txtBuscarFechaCreacion').val() },
                            { name: "_estado", value: $('#selectBuscarEstado').val() },
                            { name: "_nrotracking", value: $('#txtBuscarNroTracking').val() },
                        ];
                    },
                    fnSetFilterControls: function (values) {
                        var clienteId = values[4];
                        var analistaId = values[5];


                        if (!clienteId)
                            return;
                        else
                            $.get("/api/Devoluciones/ClienteDescripcion/" + clienteId, function (result) {
                                if (result)
                                    $('#selectBuscarCliente').append(`<option value='${clienteId}'> ${clienteId} - ${result}</option>`).val(values[3]).change();
                            });

                        if (!analistaId)
                            return;
                        else
                            $.get("/api/Usuarios/UsuarioDescripcion/" + analistaId, function (result) {
                                if (result)
                                    $('#selectBuscarAnalista').append(`<option value='${analistaId}'>${analistaId} - ${result}</option>`).val(values[3]).change();
                            });


                    }
                }
                );

        });
        function SendSC(href) {


            sLoading();
            $.post(href)
                .done(function (result) {
                    if (result) {
                        msgSuccess(`Return sent to CS successfully`);
                    }
                    else
                        msgError(`Warning, review information.`);
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    msgError(errorThrown);
                })
                .always(function () {
                    hLoading();
                    dt.api().draw('page');
                });


        }
    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header bg-blue">
                <table>
                    <tr>
                        <td>
                            <a href="/@controllerName/Create" data-toggle="tooltip" data-placement="bottom" title="Create" class="btn btn-default btn-circle waves-effect waves-circle waves-float @ViewData[$"has_{controllerName}Create"]" onclick="redirtWithReturnSearch(this, event);">
                                <i class="material-icons" style="color:black !important">add</i>
                            </a>
                        </td>
                        <td style="padding-left: 10px">
                            <h2>
                                @ViewBag.Title <small>@ViewBag.Subtitle</small>
                            </h2>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="body">
                <table id="tableDT" class="table table-bordered table-striped table-hover dataTable table-condensed table-va-middle">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NroTracking)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Asunto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Persona)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ClienteId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prioridad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AnalistaId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaCreacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th style="width: 15%;"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="txtBuscarNroTracking" class="form-control" style="width: 100%;" placeholder="Search @Html.DisplayNameFor(model => model.NroTracking)" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="txtBuscarId" class="form-control" style="width: 100%;" placeholder="Search @Html.DisplayNameFor(model => model.Id)" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="txtBuscarAsunto" class="form-control" style="width: 100%;" placeholder="Search @Html.DisplayNameFor(model => model.Asunto)" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="txtBuscarPersona" class="form-control" style="width: 100%;" placeholder="Search @Html.DisplayNameFor(model => model.Persona)" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <select id="selectBuscarCliente" class="ms full-width" style="width:100% !important;"></select>
                            </th>
                            <th>
                                <select id="selectBuscarPrioridad" class="ms full-width" style="width:100% !important;">
                                    <option value=""></option>
                                    <option value="Baja">Baja</option>
                                    <option value="Media">Media</option>
                                    <option value="Alta">Alta</option>
                                </select>
                            </th>
                            <th>
                                <select id="selectBuscarAnalista" class="ms full-width" style="width:100% !important;"></select>
                            </th>
                            <th>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="txtBuscarFechaCreacion" class="form-control" style="width: 100%;" placeholder="Search @Html.DisplayNameFor(model => model.FechaCreacion)" />
                                    </div>
                                </div>
                            </th>
                            <th>
                                <select id="selectBuscarEstado" class="ms full-width" style="width:100% !important;">
                                    <option value=""></option>
                                    <option value="Open">Open</option>
                                    <option value="In Process">In Process</option>
                                    <option value="Complete">Complete</option>
                                    <option value="Deleted">Deleted</option>
                                </select>
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
