@model MMS.Models.Asesor
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/PIV/Asesores.js"></script>

<script type="text/javascript">
    $.MMS.Asesores.init = function () {
        $.MMS.Asesores("delete", @ViewBag.ColeccionPIV.CDE.ToString().ToLower());
    };
</script>

<div class="modal-header">
    <button type="button" class="close btn-link" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Delete Seller : <em>@ViewBag.ColeccionPIV.Nombre</em></h4>
</div>

<div class="modal-body" id="bodyForm">
    <div class="row clearfix">
        
        <div class="col-md-3">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "form-label" })
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.Apellido1, htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.EditorFor(model => model.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.Apellido2, htmlAttributes: new { @class = "form-label" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PaisId, htmlAttributes: new { @class = "form-select-label" })
                        @Html.DropDownListFor(model => model.PaisId, null, new { @class = "ms full-width" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartamentoId, htmlAttributes: new { @class = "form-select-label" })
                        @Html.DropDownListFor(model => model.DepartamentoId, null, "", new { @class = "ms full-width" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CiudadId, htmlAttributes: new { @class = "form-select-label" })
                        @Html.DropDownListFor(model => model.CiudadId, null, "", new { @class = "ms full-width" })
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-float">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">attach_money</i></span>
                            <div class="form-line">
                                @Html.EditorFor(model => model.Meta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.Meta, htmlAttributes: new { @class = "form-label" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img id="CategoriaCDEIcon" width="50" />
                </div>
            </div>
        </div>

    </div>
</div>

<hr class="m-b-0 m-t--10" />

<div class="modal-footer">
    @using (Html.BeginForm("DeleteAsesor/" + Model.Id, "api/" + controllerName, FormMethod.Post, new { id = "frmAsesor" }))
    {
        <button type="submit" class="btn btn-danger waves-effect">Delete</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
    }
</div>