@model MMS.Models.ColeccionPIV

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = "PIP Collection Items : " + Model.Nombre;
    ViewBag.Subtitle = "List";
    Layout = "~/Views/Shared/_LayoutTT.cshtml";
}

@section Styles
{
    @Styles.Render("~/bundles/cssDataTables")
    @Styles.Render("~/bundles/cssSelect2")
}

@section Scripts
{
    @Scripts.Render("~/bundles/jsDataTables")
    @Scripts.Render("~/bundles/jsSelect2")

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            dt = dataTablesIndex("tableDT", "/api/@controllerName/Items/@Model.Id", "/@controllerName/Items/@Model.Id",
                [
                    { data: "Codigo" },
                    { data: "Item" },
                    {
                        data: "Id",
                        render: function (value) {
                            return (
                                `<a href='/@controllerName/DetailsItem/${value}' onclick="ColeccionPIVModal(event, this.href)" class='btn-table btn-info btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}DetailsItem"]' data-toggle="tooltip" data-placement="top" title="View"><i class='material-icons'>remove_red_eye</i></a>` +
                                `<a href='/@controllerName/EditItem/${value}' onclick="ColeccionPIVModal(event, this.href)" class='btn-table btn-primary btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}EditItem"]' data-toggle="tooltip" data-placement="top" title="Modify"><i class='material-icons'>mode_edit</i></a>` +
                                `<a href='/@controllerName/DeleteItem/${value}' onclick="ColeccionPIVModal(event, this.href)" class='btn-table bg-red btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}DeleteItem"]' data-toggle="tooltip" data-placement="top" title="Delete"><i class='material-icons'>delete</i></a>`
                                );
                        }
                    }
                ]);
        });

        function ColeccionPIVModal(event, href) {
            ajaxModal(event, href, 2, {
                static: true,
                fnShown: function () {
                    $.MMS.ColeccionesPIVItem.init();
                },
                fnHidden: function () {
                    dt.api().draw('page');
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header bg-blue">
                <table>
                    <tr>
                        <td>
                            <a href="/@controllerName/CreateItem?coleccionPIVId=@Model.Id" onclick="ColeccionPIVModal(event, this.href)" data-toggle="tooltip" data-placement="bottom" title="Create" class="btn btn-default btn-circle waves-effect waves-circle waves-float @ViewData[$"has_{controllerName}CreateItem"]">
                                <i class="material-icons" style="color:black !important">add</i>
                            </a>
                        </td>
                        <td style="padding-left: 10px">
                            <h2>
                                @ViewBag.Title <small>@ViewBag.Subtitle</small>
                            </h2>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="body">
                <table id="tableDT" class="table table-bordered table-striped table-hover dataTable table-condensed table-va-middle">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => ((List<MMS.Models.ColeccionPIVItem>)model.ColeccionPIVItems)[0].Codigo)
                            </th>
                            <th>
                                Apex's Item
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <hr class="m-b-0 m-t--20" />
            <div class="body">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default waves-effect", @onclick = "redirToReturnSearch(this, event)" })
            </div>
        </div>
    </div>
</div>