@model IEnumerable<MMS.Models.TipoGasto>

@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ViewBag.Title = "Tipo de Despesa";
    ViewBag.Subtitle = "Lista";
    Layout = "~/Views/Shared/_LayoutTT.cshtml";
}

@section Styles
{
    @Styles.Render("~/bundles/cssDataTables")
}

@section Scripts
{
    @Scripts.Render("~/bundles/jsDataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            dt = dataTablesIndex("tableDT", "/api/@controllerName/Index", "/@controllerName/Index",
                [
                    { data: "TipoGastoID" },
                    { data: "TipoGastoDesc" },
                    {
                        data: "TipoGastoID",
                        render: function (value) {
                            return (
                                `<a href='/@controllerName/Details/${value}' onclick="TipoGastoModal(event, this.href)" class='btn-table btn-info btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Details"]' data-toggle="tooltip" data-placement="top" title="View"><i class='material-icons'>remove_red_eye</i></a>` +
                                `<a href='/@controllerName/Edit/${value}' onclick="TipoGastoModal(event, this.href)" class='btn-table btn-primary btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Edit"]' data-toggle="tooltip" data-placement="top" title="Modify"><i class='material-icons'>mode_edit</i></a>` +
                                `<a href='/@controllerName/Delete/${value}' onclick="TipoGastoModal(event, this.href)" class='btn-table bg-red btn-sm btn-sm-circle waves-circle waves-effect waves-float @ViewData[$"has_{controllerName}Delete"]' data-toggle="tooltip" data-placement="top" title="Delete"><i class='material-icons'>delete</i></a>`
                                );
                        }
                    }
                ]);
        });

        function TipoGastoModal(event, href) {
            ajaxModal(event, href, 2, {
                static: true,
                fnShown: function () {
                    $.MMS.TipoGastos.init();
                },
                fnHidden: function () {
                    dt.api().draw('page');
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header bg-blue">
                <table>
                    <tr>
                        <td>
                            <a href="/@controllerName/Create" data-toggle="tooltip" data-placement="bottom" title="Create" class="btn btn-default btn-circle waves-effect waves-circle waves-float @ViewData[$"has_{controllerName}Create"]" onclick="TipoGastoModal(event, this.href);">
                                <i class="material-icons" style="color:black !important">add</i>
                            </a>
                        </td>
                        <td style="padding-left: 10px">
                            <h2>
                                @ViewBag.Title <small>@ViewBag.Subtitle</small>
                            </h2>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="body">
                <table id="tableDT" class="table table-bordered table-striped table-hover dataTable table-condensed table-va-middle">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoGastoID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoGastoDesc)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>