@model MMS.Models.Gasto
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}


@Scripts.Render("~/bundles/jqueryval")
<script src="/Content/dist/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
<script src="~/Scripts/Transacciones/Gastos.js" type="text/javascript"></script>


<script type="text/javascript">
    $.MMS.Gastos.init = function () {

        $.MMS.Gastos("edit",@Html.Raw(Json.Encode(Model)));
    };
</script>


@using (Html.BeginForm("Edit", "api/" + controllerName, FormMethod.Post, new { id = "frmGasto" }))
{
    @Html.AntiForgeryToken()


    <div class="modal-header">
        <button type="button" class="close btn-link" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Spent - @Model.GastoId</h4>
        @if (ViewBag.Actividad != null)
        {
            if (ViewBag.Actividad.ActividadFecha.Month >= 1 && ViewBag.Actividad.ActividadFecha.Month <= 3)
            {
                <h4 class="modal-title">Quartile - 1</h4>
            }
            else if (ViewBag.Actividad.ActividadFecha.Month >= 4 && ViewBag.Actividad.ActividadFecha.Month <= 6)
            {
                <h4 class="modal-title">Quartile - 2</h4>
            }
            else if (ViewBag.Actividad.ActividadFecha.Month >= 7 && ViewBag.Actividad.ActividadFecha.Month <= 9)
            {
                <h4 class="modal-title">Quartile - 3</h4>
            }
            else if (ViewBag.Actividad.ActividadFecha.Month >= 10 && ViewBag.Actividad.ActividadFecha.Month <= 12)
            {
                <h4 class="modal-title">Quartile - 4</h4>
            }
        }
    </div>
    <div class="modal-body">
        @Html.HiddenFor(model => model.GastoId)
        @Html.HiddenFor(model => model.GastoLinea)
        @*@Html.HiddenFor(model => model.GastoFecha, new { value = Model.GastoFecha.ToString("yyyy-MM-dd") })
            @Html.HiddenFor(model => model.GastoFechaMod, new { value = Model.GastoFechaMod.ToString("yyyy-MM-dd") })*@
        <input type="datetime" id="GastoFecha" name="GastoFecha" hidden value="@Model.GastoFecha.ToString("yyyy-MM-dd")" />
        <input type="datetime" id="GastoFechaMod" name="GastoFechaMod" hidden value="@Model.GastoFechaMod.ToString("yyyy-MM-dd")" />

        @Html.HiddenFor(model => model.GastoEstado)

        <div class="row clearfix">


            <div class="col-md-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.Label("Spent Type", new { @class = "form-select-label" })
                        @Html.DropDownList("TipoGastoID", null, "- Select -", new { @class = "ms form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.TipoGastoID, "", new { @class = "" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-line">
                        @Html.Label("Cost Center", new { @class = "form-select-label" })
                        @Html.DropDownList("CentroCostoID", null, "- Select -", new { @class = "ms form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.CentroCostoID, "", new { @class = "" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        @Html.LabelFor(model => model.ProductoId, htmlAttributes: new { @class = "form-select-label" })
                        @Html.DropDownListFor(model => model.ProductoId, new SelectList(new List<string>(), "", ""), new { @class = "ms form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ProductoId, "", new { @class = "" })
                </div>
            </div>
            @if (Model.ActividadId != null)
            {
                <div class="col-md-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            @Html.EditorFor(model => model.ActividadId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.ActividadId, htmlAttributes: new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.ActividadId, "", new { @class = "" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="ActividadTitulo" class="form-control" value="@ViewBag.Actividad.ActividadTitulo" />
                            <label class="form-label" for="ActividadTitulo">Title</label>
                            @*@Html.EditorFor(model => model.actividad.ActividadTitulo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.actividad.ActividadTitulo, htmlAttributes: new { @class = "form-label" })*@
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="ClienteRazonSocial" class="form-control" value="@ViewBag.Actividad.cliente.ClienteRazonSocial" />
                            <label class="form-label" for="ClienteRazonSocial">Customer</label>
                            @*@Html.EditorFor(model => model.actividad.cliente.ClienteRazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.actividad.ClienteID, htmlAttributes: new { @class = "form-label" })*@
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.EditorFor(model => model.GastoValor, new { htmlAttributes = new { @class = "form-control text-right" } })
                        @Html.LabelFor(model => model.GastoValor, htmlAttributes: new { @class = "form-label" })
                        @Html.ValidationMessageFor(model => model.GastoValor, "", new { @class = "" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.EditorFor(model => model.GastoCant, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.GastoCant, htmlAttributes: new { @class = "form-label" })
                        @Html.ValidationMessageFor(model => model.GastoCant, "", new { @class = "" })
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" id="GastoTotal" class="form-control text-right" />
                        <input type="text" id="GastoTotalOld" hidden />
                        <label class="form-label" for="GastoTotal">Total</label>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.EditorFor(model => model.GastoFactura, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.GastoFactura, htmlAttributes: new { @class = "form-label" })
                        @Html.ValidationMessageFor(model => model.GastoFactura, "", new { @class = "" })
                    </div>
                </div>
            </div>
            @*<div class="col-md-6">
                    <div class="form-group">
                        <div class="form-line">
                            @Html.LabelFor(model => model.GastoEstado, htmlAttributes: new { @class = "form-select-label" })
                            @Html.EnumDropDownListFor(model => model.GastoEstado, new { @class = "ms form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.GastoEstado, "", new { @class = "" })
                    </div>
                </div>*@

            <div class="col-md-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        @Html.TextAreaFor(model => model.GastoComentario, 4, 0, new { @class = "form-control no-resize", @placeholder = "Comments..." })
                        @Html.ValidationMessageFor(model => model.GastoComentario, "", new { @class = "" })
                    </div>
                </div>
            </div>



        </div>
    </div>
    <hr class="m-b-0 m-t--10" />

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect">Save</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
    </div>

}

