@model MMS.Models.Liquidacion
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/PIV/Liquidaciones.js"></script>

<script type="text/javascript">
    $.MMS.Liquidaciones.init = function () {
        $.MMS.Liquidaciones("details");
    };
</script>

<div class="modal-header">
    <button type="button" class="close btn-link" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">View Settlement</h4>
</div>

<div class="modal-body" id="bodyForm">
    <div class="row clearfix">

        <div class="col-md-12">
            <div class="form-group form-float">
                <div class="form-line">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "form-label" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-line">
                    @Html.Label("From", new { @class = "form-select-label" })
                    @Html.DropDownList("MonthFrom", (SelectList)ViewBag.Months, "- Month -", new { @class = "ms form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-line">
                    <label class="form-select-label">&nbsp;</label>
                    @Html.DropDownList("YearFrom", (SelectList)ViewBag.Years, "- Year -", new { @class = "ms form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-line">
                    @Html.Label("Till", new { @class = "form-select-label" })
                    @Html.DropDownList("MonthTill", (SelectList)ViewBag.Months, "- Month -", new { @class = "ms form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-line">
                    <label class="form-select-label">&nbsp;</label>
                    @Html.DropDownList("YearTill", (SelectList)ViewBag.Years, "- Year -", new { @class = "ms form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="m-b-0 m-t--10" />

<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
</div>
